$black-color: #000000;
$white-color: #ffffff;
$theme-color-2: #f9f9f9;




body {
    overflow: hidden;
    overflow-y: auto;
    font-family: 'DIN Next W1G';




}


h1,
h2,
h3,
h4,
a,
ul,
li,
figure,
button {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
}



.custom-container-lg {
    max-width: 1400px;
}

.custom-container-xl {
    max-width: 1800px;
}

.section-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    h4{
        font-size: clamp(1.3rem, 2vw, 1.7rem);
        font-weight: 500;
        
    }
    p{
                font-size: clamp(1rem, 2vw, 1.1rem);
        font-weight: lighter;
    }
}

.theme-btn {
    display: inline-block;
    padding: .75rem 1.75rem;
    width: fit-content;
    transition: all ease-in-out .5s;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .8rem;
}

.primary_btn {
    background-color: $black-color;
    color: $white-color;
    border: 1px solid $black-color;



    &:hover {
        background-color: $white-color;
        color: $black-color;
    }
}

.secondary_btn {
    color: $black-color;
    background-color: $white-color;
    border: 1px solid $white-color;

    &:hover {
        background-color: $black-color;
        color: $white-color;
    }
}

// Radio Buttons

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: none;
    background-color: $black-color;
    border-color: $black-color;


}

.form-check-input:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.form-check-input[type=radio] {
    border-radius: 0;

}


// Radio buttons color categories

.color_theme_radio {
    width: 1.8rem;
    height: 1.8rem;
}

.theme-radio-checked:checked[type=radio] {
    background-color: transparent;
    border: 4px solid black;
}

.purple_radio {
    background-color: purple;
}

.green_radio {
    background-color: green;
}

.red_radio {
    background-color: red;
}

.black_radio {
    background-color: $black-color;
}

.cyan_radio {
    background-color: cyan;
}

.emerald_radio {
    background-color: #50C878;
}

.orange_radio {
    background-color: orange;
}

.form-range{
    color: purple;
}
// color swatches


.color-swatches {
    ul {
        display: flex;
        gap: .5rem;

    }
}

.swatch {
    display: inline-block;
    width: 2.2rem;
    height: 1.1rem;
    border: 2px solid rgb(197, 197, 197);



    &.black {
        background-color: $black-color;
    }

    &.brown {
        background-color: brown;
    }

    &.grey {
        background-color: grey;
    }
}

// searchbar close icon

.menu_close{
    position: absolute;
    top: 2rem;
    right: 2rem;
}