
// @import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');






@font-face {
    font-family: 'DIN Next W1G';
    src: url('/fonts/DINNextW1G-Bold.woff2') format('woff2'),
        url('/fonts/DINNextW1G-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: url('/fonts/DINNextW1G-Regular.woff2') format('woff2'),
        url('/fonts/DINNextW1G-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: url('/fonts/DINNextW1G-Medium.woff2') format('woff2'),
        url('DINNextW1G-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: url('/fonts/DINNextW1G-Light.woff2') format('woff2'),
        url('/fonts/DINNextW1G-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ne3o2k');
  src:  url('fonts/icomoon.eot?ne3o2k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ne3o2k') format('truetype'),
    url('fonts/icomoon.woff?ne3o2k') format('woff'),
    url('fonts/icomoon.svg?ne3o2k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
}
.icon-favourite:before {
  content: "\e901";
}
.icon-ham_close_btn:before {
  content: "\e902";
}
.icon-hamburger:before {
  content: "\e903";
}
.icon-pause-btn:before {
  content: "\e904";
}
.icon-play-btn:before {
  content: "\e905";
}
.icon-product-remove:before {
  content: "\e906";
}
.icon-quick-shop:before {
  content: "\e907";
}
.icon-quick-view:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-video-no-sound:before {
  content: "\e90b";
}
.icon-video-sound:before {
  content: "\e90c";
}
.icon-zoom-in:before {
  content: "\e90d";
}
