@media (max-width:1150px) {
    .nav-left {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background-color: $white-color;
        z-index: 100;
        transform: translateX(-100%);
        transition: all ease-in-out .5s;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

        ul {
            display: flex;
            flex-direction: column;

            li {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }

    }

    .nav_hambtn {
        display: block;
    }

}


@media (max-width:991px) {
    .shop-page-inner {
        .filters {
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            padding: 4rem 2rem;
            overflow-y: auto;
            transform: translateX(100%);
            background-color: $white-color;
            z-index: 200;
            transition: all ease-in-out .5s;
            .menu_close{
                display: block;
            }
        }

        .filter_btn {
            display: block;
        }
    }

}


@media (max-width:767px) {
    .main_hero_inner {
        position: relative;
        min-height: 95vh;
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        justify-content: flex-end;
        align-items: flex-start;




        &::after {

            background: none;
        }
    }

    img.main_hero_img {
        position: static;
        width: 100%;
        height: 400px;
        object-position: top right;

    }

    .main_hero_caption {
        padding: 1rem 0;

        .caption-inner {
            width: 100%;
            h2{
                padding-bottom: .5rem;
            }
            p{
                padding-bottom: 1rem;
            }
        }
    }

    section.product-cards {
        .product-card {
            figure {
                .product-actions {

                    opacity: 1;
                }
            }
        }
    }
//     .style-showcase{
//     figure{
//         width: 100%;
//         aspect-ratio: 1/1.1;
//     }
// }

}


@media (max-width:575px) {
    .nav-right {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $white-color;
        padding: 1rem;
        z-index: 100;

        ul {
            justify-content: space-between;

            span {
                display: block !important;
            }
        }
    }
    
}