@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5kipsu');
  src:  url('fonts/icomoon.eot?5kipsu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5kipsu') format('truetype'),
    url('fonts/icomoon.woff?5kipsu') format('woff'),
    url('fonts/icomoon.svg?5kipsu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
}
.icon-favourite:before {
  content: "\e901";
}
.icon-ham_close_btn:before {
  content: "\e902";
}
.icon-hamburger:before {
  content: "\e903";
}
.icon-quick-shop:before {
  content: "\e904";
}
.icon-quick-view:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
.icon-video-no-sound:before {
  content: "\e908";
}
.icon-video-sound:before {
  content: "\e909";
}
.icon-zoom-in:before {
  content: "\e90a";
}
