@import "./vendors/bs-5.3/bootstrap";
@import "./partials/fonts";
@import "./partials/base";

.main_hero_section {
    margin-bottom: 2rem;
}


.main_hero_inner {
    position: relative;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    justify-content: flex-end;
    align-items: flex-start;




    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: $white-color;
        // opacity: .2;


        background: linear-gradient(90deg, rgba(255, 255, 255, .9) 15%, rgba(255, 255, 255, 0) 100%);

        z-index: 2;
    }

}

img.main_hero_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    object-position: top center;


}


.main_hero_caption {
    z-index: 3;
    color: $black-color;
    width: 100%;

    .caption-inner {
        width: 50%;
    }



    h2 {
        font-size: clamp(2.5rem, 4vw, 6rem);
        letter-spacing: .2rem;
        font-weight: 500;
        // font-family: "Noto Nastaliq Urdu", serif;
        //   font-family: "Noto Sans Arabic", sans-serif;
        padding-bottom: 1rem;



    }

    p {
        letter-spacing: .1rem;
        font-size: clamp(1.2rem, 2vw, 1.8rem);
        font-weight: 300;
        padding-bottom: 1rem;
    }
}



nav.Navbar {
    background-color: $white-color;
    padding: 1.5rem 0;
    position: fixed;
    height: 4.5rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


    i {
        font-size: 1.1rem;
    }



    .main_logo {
        width: clamp(7rem, 9vw, 16rem);
    }
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    a {
        color: $black-color;
        font-size: .9rem;
    }





}

.nav-left {
    width: 50%;

    ul {
        display: flex;

        li {
            a {
                font-weight: 600;
            }

            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }

}

.nav-right {
    width: 50%;

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            &:not(:last-child) {
                margin-right: 1.5rem;
            }

            .nav-right-items {
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .2rem;
                font-size: .8rem;
                position: relative;
            }

            span.right-items-title {
                display: none;
            }

            span.count {
                position: absolute;
                top: -5px;
                left: 100%;
                transform: translate(-50%, -50%);
                background-color: $black-color;
                color: $white-color;
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            // .selected-items{
            //     position: relative;
            //     &::after{
            //         content: '';
            //         position: absolute;
            //         top: 0;
            //         left: 100%;
            //         width: 1rem;
            //         height: 1rem;
            //         transform: translate(-50%, -50%);
            //         background-color: black;
            //         border-radius: 50%;
            //     }
            // }



        }
    }
}

.nav_hambtn {
    display: none;
    color: $black-color;

    i {
        font-size: 1.5rem !important;
    }
}


.navShow {
    transform: translateX(0) !important;
}

// Search Menu
.searchMenu {
    min-height: 50vh;
    background-color: $white-color;
    width: 100%;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all ease-in-out .5s;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;


}

.search-bar-inner {
    width: 100%;
}

.search-input-inner {
    position: relative;

    .search_query {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

.searchInput {
    width: 100%;
    padding: .5rem 0;
    padding-right: 2rem;
    border: 0;
    border-bottom: 1px solid $black-color ;
    outline: none;
    position: relative;


}

.searchbarshow {
    transform: translateY(0);
}

// Category Section

section.categories {
    padding-bottom: 5rem;
}

.categories-card {
    padding-bottom: 1.5rem;

    figure {
        position: relative;
        width: 100%;
        aspect-ratio: 1/1.3;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease-in-out .5s;
            object-position: top center;
        }

        figcaption {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            color: $white-color;
            z-index: 2;
            width: 100%;
            backdrop-filter: blur(10px);
            background: rgba(0, 0, 0, 0.25);
            border-top: 1px solid rgba(255, 255, 255, 0.08);
            box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.5rem 0;

            h4 {
                text-transform: uppercase;
                font-size: clamp(1.3rem, 2vw, 1.6rem);
                font-weight: bolder;

            }
        }

        &:hover {
            img {
                scale: 1.1;
            }
        }

        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background-color: $black-color;
        //     opacity: .2;
        //     width: 100%;
        //     height: 100%;
        //     z-index: 1;

        // }
    }
}



// Product Cards Section


section.product-cards {
    padding-bottom: 5rem;

    .product-card {
        padding-bottom: 3rem;

        figure {
            width: 100%;
            aspect-ratio: 1/1.5;
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity 0.4s ease-in-out;


            }

            .main_img {
                z-index: 1;
                opacity: 1;
            }

            .hover_img {
                opacity: 0;
                z-index: 2;


            }

            .product-rating {
                position: absolute;
                bottom: 0;
                right: 0;
                margin: .5rem;
                padding: .5rem;
                z-index: 4;
                background-color: rgba(0, 0, 0, 0.8);


            }

            .product-actions {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                opacity: 0;
                transition: opacity 0.4s ease-in-out;
                z-index: 3;

                button {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    background-color: $black-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: $white-color;
                        font-size: 1.2rem;
                    }

                    &:hover {
                        background-color: $white-color;

                        i {
                            color: $black-color;
                        }
                    }
                }
            }



            &:hover {


                .main_img {
                    opacity: 0;
                }

                .product-actions {
                    opacity: 1;
                }




                .hover_img {
                    opacity: 1;
                }
            }
        }


        .product-details {


            .product-title {
                color: $black-color;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 1.1rem;
            }

            small {
                font-weight: normal;
                display: block;
                color: $black-color;
                font-size: 1.2rem;
            }
        }



    }

    .shop-all-btn {
        display: flex;
        justify-content: center;
    }

}

.quick-view {
    background-color: $white-color;
    min-height: 80vh;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.show-quick-view {
    opacity: 1;
    pointer-events: all;

}

// Style Showcase Section

section.style-showcase {
    padding-bottom: $section-space-md;

    .showcasecard {
        padding-bottom: 2rem;

        figure {
            width: 100%;
            aspect-ratio: 2 / 2.3;
            overflow: hidden;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        figcaption {
            color: $black-color;

            h4 {
                font-size: clamp(1.3rem, 2vw, 1.6rem);
                font-weight: 600;
            }
        }
    }
}

// Seasonal Section

section.seasonal-section {
    padding-bottom: $section-space-md;

    .seasonal-section-inner {
        padding: 2rem 0;
        position: relative;
        background: url('/images/seasonal-section.jpg');
        background-attachment: fixed;
        object-fit: cover;
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-position: center;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black-color;
            opacity: .3;
            z-index: 1;
        }

        .seasonal-caption {
            color: $white-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;



            h2 {
                font-size: clamp(3em, 5vw, 7rem);
                text-transform: uppercase;
            }
        }
    }
}

// Shop Page

.title-bar {
    margin: 4.5rem 0;
    background-color: $theme-color-2;
    padding: 1rem 0;


    .title-bar-inner {
        display: flex;
        align-items: center;
        gap: 2rem;
        color: $black-color;
        font-size: .8rem;

        .title-bar-link {
            color: $black-color;
            text-transform: uppercase;
            font-weight: 300;
        }

        span {
            position: relative;
            font-weight: 500;
            text-transform: uppercase;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 100%;
                margin-right: 1rem;
                transform: translate(-50%, -50%);
                background-color: $black-color;
                width: 1px;
                height: 50%;
            }
        }
    }
}

.shop-page-inner {
    display: flex;

    .filters {
        width: 300px;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;

        .menu_close {
            display: none;
            // position: absolute;
            // top: 6rem;
            // right: 1rem;
        }

        .filter-title {
            text-transform: uppercase;
            font-weight: bolder;
        }

    }

    .product-cards {
        flex: 1;

    }
}

.Colors {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

}

.categories-filter {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.filter_btn {
    display: none;
}

// Product Detail Page

// .product-detail-inner {
//     padding-bottom: $section-space-md;
// }

.view-section {
    min-height: 100%;
    padding-bottom: 2rem;
}

.product-gallery {

    // .product-card{
    //     figure{
    //         width: 100%;
    //         aspect-ratio: 1/1.5;
    //         img{
    //             width: 100%;
    //             height: 100%;
    //             object-fit: cover;
    //         }
    //     }
    // }
    .gallery-swiper {
        .swiper-button-prev {
            color: $black-color;


        }

        .swiper-button-next {
            color: $black-color;
        }

        .swiper-slide {

            figure {
                width: 100%;
                aspect-ratio: 1/1.4;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

}

.product-summary {
    color: $black-color;
    height: 100%;

}


// Cart Page

.products-header{
    padding: 1rem;
    background-color: $black-color;
    color: $white-color;
    .product-header-inner{
        small{
            font-weight: bolder;
        }
    }
}


.cart-product {
    padding: 1rem;
    border: 1px solid $black-color;
    margin-bottom: 1rem;
    position: relative;
    .remove-product{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: .5rem;
        margin-top: .5rem;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .2rem;
        i{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
                    color: $white-color;
        }
    }
}


.cart-item {
    display: flex;
    align-items: center;
    height: 100%;
}


.cart-product-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;


    figure {
        width: 150px;
        height: 150px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}

.cart-product-info{
    text-transform: uppercase;
}

.product-price, .product-total{
    small{
            font-weight: 500;
    }
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    .cart-md-heading{
        display: none;
    }
}

.product-quantity{
    .qty-input {
	color: $black-color;
	background: $white-color;
	display: flex;
	align-items: center;
	overflow: hidden;

	.product-qty,
	.qty-count {
		background: transparent;
		color: inherit;
		font-weight: bold;
		font-size: inherit;
		border: none;
		display: inline-block;
		min-width: 0;
		height: 2.5rem;
		line-height: 1;
		

		&:focus {
			outline: none;
		}
	}

	.product-qty {
		width: 50px;
		min-width: 0;
		display: inline-block;
		text-align: center;
		appearance: textfield;		
		
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}
	}

	.qty-count {
		padding: 0;
		cursor: pointer;
		width: 2.5rem;
		font-size: 1.25em;
		text-indent: -100px;
		overflow: hidden;
		position: relative;
		
		&:before, 
		&:after {
			content: "";
			height: 2px;
			width: 10px;
			position: absolute;
			display: block;
			background: $white-color;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		&--minus {
			border-right: 1px solid $white-color;
		}
		&--add {
			border-left: 1px solid $white-color;
			&:after {
				transform: rotate(90deg);
			}
		}
		
		// &:disabled {
		// 	color: red;
		// 	background: yellow;
		// 	cursor: not-allowed;
		// 	border-color: transparent;
			
		// 	&:before,
		// 	&:after {
		// 		background: red;
		// 	}
		// }
	}
}

.qty-input {
    background-color: $black-color;
    color: $white-color;
}

}





@import "./partials/mediaqueries"