@import "./vendors/bs-5.3/bootstrap";
@import "./partials/fonts";
@import "./partials/base";

.main_hero_section {
    margin-bottom: 2rem;
}


.main_hero_inner {
    position: relative;
    min-height: 95vh;
    display: flex;
    padding: 5rem 0;
    align-items: flex-end;



    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white-color;
        opacity: .2;
        z-index: 2;
    }

}

img.main_hero_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    object-position: top center;

}

.main_hero_caption {
    z-index: 3;
    width: 100%;
    color: $black-color;


    h2 {
        font-size: clamp(3rem, 4vw, 6rem);
        letter-spacing: .2rem;
        font-weight: 500;
        // font-family: "Noto Nastaliq Urdu", serif;



    }

    p {
        letter-spacing: .1rem;
        font-size: clamp(1.5rem, 4vw, 1.8rem);
        font-weight: 300;
    }
}



nav.Navbar {
    background-color: $white-color;
    padding: 1.5rem 0;
    position: fixed;
    height: 4.5rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


    i {
        font-size: 1.1rem;
    }



    .main_logo {
        width: clamp(7rem, 9vw, 16rem);
    }
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    a {
        color: $black-color;
        font-size: .9rem;
    }





}

.nav-left {
    width: 50%;

    ul {
        display: flex;

        li {
            a {
                font-weight: 600;
            }

            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }

}

.nav-right {
    width: 50%;

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            &:not(:last-child) {
                margin-right: 1.5rem;
            }

            .nav-right-items {
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .2rem;
                font-size: .8rem;
            }

            span {
                display: none;
            }

            // .selected-items{
            //     position: relative;
            //     &::after{
            //         content: '';
            //         position: absolute;
            //         top: 0;
            //         left: 100%;
            //         width: 1rem;
            //         height: 1rem;
            //         transform: translate(-50%, -50%);
            //         background-color: black;
            //         border-radius: 50%;
            //     }
            // }



        }
    }
}

.nav_hambtn {
    display: none;
    color: $black-color;

    i {
        font-size: 1.5rem !important;
    }
}

.navShow {
    transform: translateX(0) !important;
}

// Search Menu


// Category Section

section.categories {
    padding-bottom: 5rem;
}

.categories-card {
    padding-bottom: 1.5rem;

    figure {
        position: relative;
        width: 100%;
        aspect-ratio: 1/1.3;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease-in-out .5s;
            object-position: top center;
        }

        figcaption {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            color: $white-color;
            z-index: 2;
            width: 100%;
            backdrop-filter: blur(10px);
            background: rgba(0, 0, 0, 0.25);
            border-top: 1px solid rgba(255, 255, 255, 0.08);
            box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.5rem 0;

            h4 {
                text-transform: uppercase;
                font-size: clamp(1.3rem, 2vw, 1.6rem);
                font-weight: bolder;

            }
        }

        &:hover {
            img {
                scale: 1.1;
            }
        }

        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background-color: $black-color;
        //     opacity: .2;
        //     width: 100%;
        //     height: 100%;
        //     z-index: 1;

        // }
    }
}



// Product Cards Section


section.product-cards {
    padding-bottom: 5rem;

    .product-card {
        padding-bottom: 3rem;

        figure {
            width: 100%;
            aspect-ratio: 1/1.5;
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity 0.4s ease-in-out;


            }

            .main_img {
                z-index: 1;
                opacity: 1;
            }

            .hover_img {
                opacity: 0;
                z-index: 2;


            }

            .product-rating {
                position: absolute;
                bottom: 0;
                right: 0;
                margin: .5rem;
                padding: .5rem;
                z-index: 4;
                background-color: rgba(0, 0, 0, 0.8);


            }

            .product-actions {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                opacity: 0;
                transition: opacity 0.4s ease-in-out;
                z-index: 3;

                button {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    background-color: $black-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: $white-color;
                        font-size: 1.2rem;
                    }

                    &:hover {
                        background-color: $white-color;

                        i {
                            color: $black-color;
                        }
                    }
                }
            }



            &:hover {


                .main_img {
                    opacity: 0;
                }

                .product-actions {
                    opacity: 1;
                }




                .hover_img {
                    opacity: 1;
                }
            }
        }


        .product-details {


            .product-title {
                color: $black-color;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 1.1rem;
            }

            small {
                font-weight: normal;
                display: block;
                color: $black-color;
                font-size: 1.2rem;
            }
        }



    }

    .shop-all-btn {
        display: flex;
        justify-content: center;
    }

}


// Shop Page

.title-bar {
    margin: 4.5rem 0;
    background-color: $theme-color-2;
    padding: 1rem 0;


    .title-bar-inner {
        display: flex;
        align-items: center;
        gap: 2rem;
        color: $black-color;
        font-size: .8rem;

        .title-bar-link {
            color: $black-color;
        }

        span {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 100%;
                margin-right: 1rem;
                transform: translate(-50%, -50%);
                background-color: $black-color;
                width: 1px;
                height: 50%;
            }
        }
    }
}

.shop-page-inner {
    display: flex;

    .filters {
        width: 300px;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;

        .filter-title {
            text-transform: uppercase;
            font-weight: bolder;
        }

    }

    .product-cards {
        flex: 1;

    }
}

.Colors {
    display: flex;
    gap: .5rem;

}

.categories-filter {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.filter_btn {
    display: none;
}



@import "./partials/mediaqueries"